@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
*{
	font-family: "Roboto Condensed", Arial, sans-serif;
}
html, body{
	margin: 0;
	padding:0;
	height: 100%;
}
a{
	display: inline-block;
}
html{
	background-image: url("../images/backs/background.png");

}
body{
	height: 10000px;
}
body{
	background-image: url(../images/backs/bot.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}
img{
	max-width: 100%;
}
#page_wrapper{
	height: 10000px;
	min-height: 100%;
}
#page_wrapper{
	padding-top: 200px;
	background-image: url(../images/backs/top.gif);
	background-position: center top;
	background-repeat: no-repeat;
}
#primary_menu{

	width: 50%;
	margin: 0 auto;
	background: #ADA7A1;
	height: 65px;
	line-height: 65px;
	position: relative;

}
#primary_menu::before{
	content: " ";
	position: absolute;
	left: -63.5px;
	top: -1.5;
	border: 33px solid transparent;
	border-right-color: ADA7A1;
	border-bottom-color: ADA7A1;
}
#primary_menu::after{
	content: " ";
	position: absolute;
	right: -63.5px;
	top: -1.5;
	border: 33px solid transparent;
	border-left-color: ADA7A1;
	border-bottom-color: ADA7A1;
}
#primary_menu > ul{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: hidden;
}
#primary_menu >ul>li{
	display: inline-block;
	list-style: none; 
	font-size: 15px;
}
#primary_menu >ul >li:last-child{
	margin-right: 0;
}
#primary_menu >ul >li>a{

	height: 65px;
	color: #FFF;
	text-decoration: none;
	padding: 0 15px;
	position: relative;
	color: #FFF;
	z-index: 999;

}
#primary_menu > ul > li a:hover{
	
	color: #333;
}
#primary_menu > ul > li a::before{
	content: " ";
	position: absolute;
	left: -4px;
	top: -25px;
	height: 150px;
	width: 100%;
	transform: rotate(20deg);
	background-color: rgba(255,255,255,1);
	opacity: 0;
	z-index: -1;
}
#primary_menu >ul >li a:hover::before{
	opacity: 1;
}
.container{
	width: 1200px;
	margin: 0 auto;

}
#secondary_menu{

	width: 100%;
	margin: 0 auto;
	background: #061727;
	height: 100%;
	line-height: 65px;

}
#secondary_menu > ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
#secondary_menu > ul>li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	line-height: 65px;
}
#logo{

	width: 250px;
	display: inline-block;
}